@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.team-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 5em;

	@include screenxs {
		margin: 2em 5em;
	}

	@include screens {
		margin: 2em 5em;
	}

	@include screenm {
		margin: 0 auto;
	}

	div {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		background-color: red;
	}

	span:nth-child(2) {
		margin-top: 1em;
		font-size: $heading;
	}

	span:nth-child(3) {
		font-size: $subheading;
	}
}
