@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.team-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 5em;

	div {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		background-color: red;
	}

	span:nth-child(2) {
		margin-top: 1em;
		font-size: 30px;
	}

	span:nth-child(3) {
		font-size: 25px;
	}
}
