@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.landing {
	width: 100vw;
	margin-top: 8em;
	display: flex;
	justify-content: center;
	align-items: center;

	@include screenxs {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.landing-text {
		h1 {
			font-size: $title;
		}
		p {
			width: 55%;
			font-size: $body2;
			margin-bottom: 2em;
		}
	}

	.landing-image {
		.landing-image-lady {
			width: 500px;

			@include screenxs {
				width: 350px;
			}
		}
	}

	.blob-right {
		z-index: -1;
		width: 80%;
		position: absolute;
		right: -25%;
		top: -150px;

		@include screenxs {
			display: none;
		}
	}
}
