@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.why {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	svg {
		width: 300px;
	}

	h1 {
		font-size: $title;
		text-align: center;
	}

	.why-reason {
		margin-top: 10em;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		div {
			margin: 0 10em;
			.globe {
				position: absolute;
				z-index: -2;
				transform: translateY(-150px) translateX(75px);
				// animation: spinning infinite 5s ease-in-out;
			}
			.jumping {
			}
			.heart {
				width: 100px;
				position: absolute;
				z-index: -2;
				transform: translateY(70px) translateX(15px);
			}
			.mountains {
			}
			.hand {
			}
			.plants {
				position: absolute;
				z-index: -2;
				transform: translateY(-120px) translateX(-210px);
			}

			@keyframes spinning {
				0% {
					transform: rotate(0deg);
				}
				50% {
					transform: rotate(180deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
		span {
			margin: 0 10em;
			font-size: $body2;
			width: 100%;
		}
	}

	.blob-left-1 {
		z-index: -1;
		position: absolute;
		width: 200%;
		left: -110%;
		top: -30%;
	}
}
