@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.team {
	width: 100vw;
	margin-top: 25em;

	@include screenxs {
		margin-top: 10em;
	}

	@include screens {
		margin-top: 25em;
	}

	h1 {
		font-size: $title;
		text-align: center;
	}

	.team-wrapper {
		margin-top: 10em;
		display: flex;
		justify-content: center;
		align-items: center;

		@include screenxs {
			flex-direction: column;
			margin-top: 5em;
		}

		@include screens {
			flex-direction: column;
			margin-top: 5em;
		}
	}
}
