@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.about {
	margin-top: 35em;
	display: flex;
	justify-content: space-between;

	@include screenxs {
		margin-top: 0em;
		align-items: center;
		flex-direction: column-reverse;
	}

	@include screens {
		margin-top: 0em;
		align-items: center;
		flex-direction: column-reverse;
	}

	@include screenm {
		margin-top: 0em;
		align-items: center;
		flex-direction: column-reverse;
	}

	@include screenl {
		margin-top: 12em;
	}

	.lady-kneeling {
		width: 450px;
		margin-left: 10em;

		@include screenxs {
			width: 350px;
			margin: 0 auto;
		}

		@include screens {
			width: 350px;
			margin: 0 auto;
		}

		@include screenm {
			width: 400px;
			margin: 0 auto;
		}

		@include screenl {
			width: 300px;
			margin: 0 auto;
		}
	}

	.about-text {
		width: 45%;

		h1 {
			font-size: $title;
		}

		p {
			font-size: $body2;
			width: 80%;

			@include screenxs {
				width: 100%;
			}

			@include screens {
				width: 100%;
			}

			@include screenm {
				width: 100%;
			}
		}

		@include screenxs {
			width: 85%;
			text-align: center;
			margin: 0 auto;
		}

		@include screens {
			width: 85%;
			text-align: center;
			margin: 0 auto;
		}

		@include screenm {
			width: 85%;
			text-align: center;
			margin: 0 auto;
		}
	}
}
