@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.product {
	margin-top: 5em;
	margin-bottom: 15em;
	position: relative;
	overflow-y: hidden;

	.product-title {
		text-align: center;
		h1 {
			font-size: $title;
		}
		h2 {
			font-size: $heading;
		}
	}

	.product-display {
		margin-top: 10em;
		display: flex;
		align-items: center;
		justify-content: space-around;
		position: relative;

		.product-itself {
			.product-itself-guy {
				width: 350px;
			}

			.cloud1 {
				position: absolute;
				transform: translateX(-500px);
			}
			.cloud2 {
				position: absolute;
				transform: translateX(120px) translateY(50px);
			}
			.cloud3 {
				position: absolute;
				transform: translateX(20px) translateY(350px);
			}
		}

		.product-container {
			border-radius: 20px;
			width: 350px;
			height: 500px;
			background-color: #c7efdb;
			display: flex;
			flex-direction: column;

			align-items: center;

			span {
				margin-top: 1em;
				font-size: $subheading;
			}

			p {
				margin-top: 5em;
				width: 80%;
				font-size: $body2;
				text-align: center;
				margin-bottom: 5em;
			}

			.product-container-image {
				position: absolute;
				width: 200px;
				transform: translateY(150%) translateX(-80%);
			}
		}
	}

	.blob-left-2 {
		z-index: -1;
		width: 600px;
		position: absolute;
		left: -20%;
		top: -100%;
	}
}
