@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.about {
	margin-top: 35em;
	display: flex;
	justify-content: center;

	.about-image {
		.lady-kneeling {
			width: 450px;
		}
	}

	.about-text {
		h1 {
			font-size: $title;
		}
		p {
			font-size: $body2;
			width: 55%;
		}
	}
}
