@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.how-it-works-hero {
	margin-top: 10em;
	background-color: #dbf0e1;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 80%;
	border-radius: 15px;

	@include screenxs {
		width: 90%;
		height: 800px auto;
		flex-direction: column;
	}

	@include screens {
		width: 90%;
		height: 800px auto;
	}

	@include screenm {
		width: 95%;
		height: 800px auto;
	}

	.how-it-works-hero-step {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
