@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.video-wrapper {
	.video-border {
		z-index: -1;
		position: absolute;
		width: 500px;
		transform: translateY(-125px) translateX(-20px);
		height: 600px;

		@include screenxs {
			width: 400px;
			height: 500px;
		}

		@include screens {
			width: 400px;
			height: 500px;
		}
	}

	.video-placer-border {
		width: 480px;
		transform: translateY(-90px) translateX(-15px);
		height: 550px;
		position: absolute;

		@include screenxs {
			display: none;
		}

		@include screens {
			display: none;
		}
	}
	video {
		border-radius: 20px;
		width: 450px;
		height: 375px;
		object-fit: cover;

		@include screenxs {
			width: 350px;
			height: 275px;
		}

		@include screens {
			width: 350px;
			height: 275px;
		}
	}
}
