@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.why {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	svg {
		width: 250px;

		@include screenxs {
			width: 150px;
		}

		@include screens {
			width: 150px;
		}

		@include screenm {
			width: 200px;
		}

		@include screenl {
			width: 300px;
		}
	}

	h1 {
		font-size: $title;
		text-align: center;
	}

	.why-reason {
		position: relative;
		width: 50%;
		height: 350px;
		background-color: #dbf0e1;
		margin: 3em auto;
		border-radius: 18px;
		display: flex;
		align-items: center;
		z-index: 0;
		transform: translateX(-190px);
		box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.2);

		&:nth-child(3) {
			transform: translateX(0);

			@include screenxxs {
				transform: translateX(0);
			}

			@include screenxs {
				transform: translateX(0);
			}

			@include screens {
				transform: translateX(0);
			}

			@include screenm {
				transform: translateX(0);
			}

			@include screenl {
				transform: translateX(0);
			}
		}

		&:nth-child(4) {
			transform: translateX(190px);

			@include screenxxs {
				transform: translateX(0);
			}

			@include screenxs {
				transform: translateX(0);
			}

			@include screens {
				transform: translateX(0);
			}

			@include screenm {
				transform: translateX(0);
			}

			@include screenl {
				transform: translateX(0);
			}
		}

		@include screenxxs {
			flex-direction: column;
			height: auto;
			width: 90%;
			transform: translateX(0);
		}

		@include screenxs {
			flex-direction: column;
			height: auto;
			width: 90%;
			transform: translateX(0);
		}

		@include screens {
			flex-direction: column;
			height: auto;
			width: 90%;
			transform: translateX(0);
		}

		@include screenm {
			width: 90%;
			transform: translateX(0);
		}

		@include screenl {
			width: 90%;
			transform: translateX(0);
		}

		div {
			margin: 0 auto;

			@include screens {
				margin: 0 auto;
			}

			@include screenm {
				margin: 0 auto;
			}

			@include screenl {
				margin: 0 auto;
			}
		}

		span {
			margin: 2em auto;
			font-size: $body2;
			width: 45%;

			@include screenxs {
				width: 80%;
				text-align: center;
			}

			@include screens {
				width: 50%;
				text-align: center;
			}

			@include screenm {
				width: 50%;
				text-align: center;
			}

			@include screenl {
				width: 50%;
				text-align: center;
			}

			@include screenxl {
				width: 50%;
				text-align: center;
			}
		}
	}

	.blob-left-1 {
		z-index: -3;
		position: absolute;
		width: 200%;
		left: -110%;
		top: 20%;

		@include screenxxs {
			display: none;
		}

		@include screenxs {
			display: none;
		}

		@include screens {
			display: none;
		}

		@include screenm {
			display: none;
		}

		@include screenl {
			display: none;
		}
	}
}

//Animations

#Heart {
	animation: pulsing 1s infinite;
	transform-origin: center;
}

#Globe {
	animation: spinning 5s infinite linear;
	transform-origin: center;
	transform-box: fill-box;
	animation: name duration timing-function delay iteration-count direction
		fill-mode;
}

#Plants {
	animation: growing 2s infinite 8s;
	transform-origin: bottom;
	transform-box: fill-box;
}

@keyframes spinning {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

@keyframes pulsing {
	10% {
		transform: scale(1.05);
	}
}

@keyframes growing {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
