@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.why {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	svg {
		width: 300px;

		@include screenxs {
			width: 150px;
		}

		@include screens {
			width: 150px;
		}

		@include screenm {
			width: 200px;
		}

		@include screenl {
			width: 300px;
		}
	}

	h1 {
		font-size: $title;
		text-align: center;
	}

	.why-reason {
		margin-top: 10em;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include screenxs {
			flex-direction: column;
		}

		div {
			margin: 0 10em;

			@include screens {
				margin: 0 auto;
			}

			@include screenm {
				margin: 0 auto;
			}

			@include screenl {
				margin: 0 auto;
			}

			.globe {
				position: absolute;
				z-index: -2;
				transform: translateY(-150px) translateX(75px);

				@include screenxs {
					transform: translateY(-80px) translateX(40px);
				}

				@include screens {
					transform: translateY(-80px) translateX(40px);
				}

				@include screenm {
					transform: translateY(-110px) translateX(45px);
				}
			}

			.heart {
				width: 100px;
				position: absolute;
				z-index: -2;
				transform: translateY(70px) translateX(15px);

				@include screenxs {
					width: 40px;
					z-index: -1;
					transform: translateY(50px) translateX(10px);
				}

				@include screens {
					width: 40px;
					z-index: -1;
					transform: translateY(50px) translateX(10px);
				}

				@include screenm {
					width: 40px;
					z-index: -1;
					transform: translateY(50px) translateX(20px);
				}
			}

			.plants {
				position: absolute;
				z-index: -2;
				transform: translateY(-120px) translateX(-210px);

				@include screenxs {
					transform: translateY(-100px) translateX(-90px);
				}

				@include screens {
					transform: translateY(-100px) translateX(-90px);
				}

				@include screenm {
					transform: translateY(-100px) translateX(-120px);
				}
			}

			@keyframes spinning {
				0% {
					transform: rotate(0deg);
				}
				50% {
					transform: rotate(180deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}

		span {
			margin: 0;
			font-size: $body2;
			width: 100%;

			@include screenxs {
				width: 80%;
				text-align: center;
			}

			@include screens {
				width: 50%;
				text-align: center;
			}

			@include screenm {
				width: 50%;
				text-align: center;
			}

			@include screenl {
				width: 50%;
				text-align: center;
			}

			@include screenxl {
				width: 50%;
				text-align: center;
			}
		}
	}

	.blob-left-1 {
		z-index: -3;
		position: absolute;
		width: 200%;
		left: -110%;
		top: -30%;
	}
}
