@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.how-it-works {
	margin-top: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include screenxs {
		margin-top: 0;
	}

	@include screens {
		margin-top: 0;
	}

	@include screenm {
		margin-top: 0;
	}

	@include screenl {
		margin-top: 3em;
	}

	h1 {
		font-size: $title;
	}

	p {
		text-align: center;
		width: 40%;
		font-size: $subheading;

		@include screenxs {
			width: 80%;
		}

		@include screens {
			width: 80%;
		}
		@include screenm {
			width: 80%;
		}

		@include screenl {
			width: 70%;
		}
	}

	span {
		font-size: $subheading;
	}

	.how-it-works-group {
		z-index: -1;
		margin-top: -25em;
		transform: translateY(30%);
		width: 650px;
	}
}
