@import "../../Styles/breakpoints.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/fontsizes.scss";

.look {
	margin-top: 30em;
	display: flex;
	position: relative;
	align-items: flex-start;
	justify-content: space-evenly;

	@include screenxs {
		margin-top: 15em;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	div {
		h1 {
			font-size: $title;

			@include screenxs {
				margin-bottom: 2em;
				text-align: center;
			}
		}
	}

	.teacher {
		position: absolute;
		right: 20%;
		top: 30%;
		width: 300px;

		@include screenxs {
			display: none;
		}
	}
}
